<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="Email">
          Email de l'utilisateur
        </label>
        <input type="text" id="Email" class="form-control" name="Email" ngModel required>
      </div>
      <div class="form-group">
        <label for="Password">
          Password de l'utilisateur
        </label>
        <input type="text" id="Password" class="form-control" name="Password" ngModel>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Enregistrer</button>
    </form>
  </div>
</div>
