<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit(connectionForm)" #connectionForm="ngForm">
      <div class="form-group">
        <label for="contactEmail">Contact Email</label>
        <input type="text" [(ngModel)]="contact.contactEmail"
               class="form-control"
               id="contactEmail"
               name="contactEmail"
               placeholder="Enter the wished contact email"
               required #contactEmail="ngModel">
        <div [hidden]="!contactEmail.pristine" class="alert alert-danger">Contact email is required</div>
      </div>
      <button type="submit" [disabled]="!connectionForm.form.valid"
              class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
