<div class="col-sm-8 col-sm-offset-2">
  <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="Email">Email</label>
      <input type="text" class="form-control" id="Email" formControlName="Email">
    </div>
    <div class="form-group">
      <label for="Password">Email</label>
      <input type="text" class="form-control" id="Password" formControlName="Password">
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">Soumettre</button>
    <button class="btn btn-success" (click)="onSave()">Save</button>
    <button class="btn btn-primary" (click)="onFetch()">Charger</button>
  </form>
</div>
