<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Sign In</h2>
    <form (ngSubmit)="onCheckLogin(loginForm)" #loginForm="ngForm">
      <div class="form-group">
        <label for="emailbis">Email</label>
        <input type="text" [(ngModel)]="login.email"
               class="form-control"
               id="emailbis"
               name="emailbis"
               placeholder="Enter your email"
               required #emailbis="ngModel">
        <div [hidden]="!emailbis.pristine" class="alert alert-danger">Email is required</div>
      </div>
      <div class="form-group">
        <label for="passwordbis">Password</label>
        <input type="text" [(ngModel)]="login.password"
               class="form-control"
               id="passwordbis"
               name="passwordbis"
               placeholder="Enter your password"
               required #passwordbis="ngModel">
        <div [hidden]="!passwordbis.pristine" class="alert alert-danger">Password is required</div>
      </div>
      <ul class="text-center list-inline py-3">
        <li class="list-inline-item">
          <button type="submit" [disabled]="!loginForm.form.valid"
              class="btn btn-success">Submit Login</button>
        </li>
        <li class="list-inline-item">
          <a routerLink="/addUserAccount" class="btn btn-success">Create account</a>
        </li>
      </ul>
    </form>
  </div>
</div>

