<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Connection</h2>
    <form [formGroup]="signInForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text"
               id="email"
               class="form-control"
               formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               id="password"
               class="form-control"
               formControlName="password">
      </div>
      <!-- ajout des boutons d'authenfication et de desauthentification -->
      <button class="btn btn-success" *ngIf="!authStatus" (click)="onSignIn()"
              type="submit"
              [disabled]="signInForm.invalid">Connect</button>
      <button class="btn btn-danger" *ngIf="authStatus" (click)="onSignOut()"
              type="submit"
              >Disconnect</button>
      <!-- ajout d'un bouton pour récupérer les useraccounts -->
      <button class="btn btn-primary"
              type="submit" (click)="checkUserAccount()"
      >Check userAccount</button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>
<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onCheckLogin(loginForm)" #loginForm="ngForm">
      <div class="form-group">
        <label for="emailbis">Email</label>
        <input type="text" [(ngModel)]="login.email"
               class="form-control"
               id="emailbis"
               name="emailbis"
               placeholder="Enter your email"
               required #emailbis="ngModel">
        <div [hidden]="!emailbis.pristine" class="alert alert-danger">Email is required</div>
      </div>
      <div class="form-group">
        <label for="passwordbis">Password</label>
        <input type="text" [(ngModel)]="login.password"
               class="form-control"
               id="passwordbis"
               name="passwordbis"
               placeholder="Enter your password"
               required #passwordbis="ngModel">
        <div [hidden]="!passwordbis.pristine" class="alert alert-danger">Password is required</div>
      </div>
      <!-- ajout d'un bouton pour checker l'existence d'un login -->
      <button type="submit" [disabled]="!loginForm.form.valid"
              class="btn btn-info">Submit Login</button>
    </form>
  </div>
</div>

