<div class="card my-5">
  <div class="card-body">
    <ul class="text-center list-inline py-3">
      <li class="list-inline-item">
        <button class ="btn btn-info" (click)="onAddConnection()"
        >Add Connection</button>
      </li>
      <li class="list-inline-item">
        <button class ="btn btn-info" (click)="onSendMoney()"
        >Send Money</button>
      </li>
    </ul>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">loginId</th>
        <th scope="col">email</th>
        <th scope="col">password</th>
        <th scope="col">userId</th>
        <th scope="col">lastname</th>
        <th scope="col">firstname</th>
        <th scope="col">birthdate</th>
        <th scope="col">internalAccountId</th>
        <th scope="col">balance</th>
        <th scope="col">externalAccountId</th>
        <th scope="col">iban</th>
      </tr>
      </thead>
      <tbody>
        <td>{{ userAccount.loginId }}</td>
        <td>{{ userAccount.email }}</td>
        <td>{{ userAccount.password }}</td>
        <td>{{ userAccount.userId }}</td>
        <td>{{ userAccount.lastname }}</td>
        <td>{{ userAccount.firstname }}</td>
        <td>{{ userAccount.birthdate }}</td>
        <td>{{ userAccount.internalAccountId }}</td>
        <td>{{ userAccount.balance }}</td>
        <td>{{ userAccount.externalAccountId }}</td>
        <td>{{ userAccount.iban }}</td>
      </tbody>
    </table>
    <button class="btn btn-danger" *ngIf="authStatus" (click)="onSignOut()"
            type="submit">Disconnect</button>
  </div>
</div>
